<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
		<h1> Preferencias de las personas </h1>
	    <h5> Para conocer las preferencias de algunos temas como la dieta, la vivienda y las mascotas se realiza el formulario disponible a continuación.</h5>
	</div>
	<div align="center">
		<img src="https://statics-cuidateplus.marca.com/sites/default/files/styles/natural/public/dieta-ornish.jpg?itok=QrD6geM-" style="width:400;height:400px;">
	</div>
	<div>
		<a href = "{% url 'formulario' %}">Formulario disponible aquí!</a>
	</div>
</body>
</html>