<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esto va arriba</title>
</head>
<body>
    <h1>Esto es muy grande</h1>
    <h2>ESto es un poco más pequeño</h2>
    <h6>Esto es muy pequeñito</h6>
<!--Esto es un comentario -->

    <div>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.wikipedia.org%2Fwiki%2FNelumbo_nucifera&psig=AOvVaw2_SaM0x6Vy-_N_s9ct0uxs&ust=1618434450979000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjZ86mQ_O8CFQAAAAAdAAAAABAD">
        Esto es un texto del div
    </div>

</body>
</html>